.navbar {
  position: absolute;
  width: 100%;
  background: transparent !important;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  z-index: 1000;
}

.navbar .nav-link {
  color: white !important;
  padding: 0.5rem 1rem;
}

.hero-banner {
  height: 900px;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("images/images-50-06209-2025PD1492904773831987044/50-06209-2025PD.1212434_C6.jpg") center 15%/cover no-repeat;
}

.full-image {
  height: 700px;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("images/images-50-06209-2025PD1492904773831987044/50-06209-2025PD.1212441_C3.jpg") center center / cover no-repeat;
  border-radius: 5px;
}

.section-image {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.site-footer {
  background-color: gray;
  color: white;
}

body {
  font-family: 'Inter', sans-serif;
}

.full-image-2 {
  height: 500px;
  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("images/images-50-06209-2025PD1492904773831987044/50-06209-2025PD.1212461_C3.jpg") center 18% / cover no-repeat;
  border-radius: 5px;
}